/* Project Intro */
.project-intro {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 200px;
}

#left-paragraph {
    padding-right: 120px;
    max-width: 200px;
    margin: 0;
    display: inline-block;
    text-align: left;
    color: #fff;
}

#right-paragraph {
    padding-left: 120px;
    max-width: 200px;
    margin: 0;
    display: inline-block;
    text-align: right;
    color: #fff;
    position: relative;
    top: -20px;
}

/* Style for the Image */
.presentation-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: relative;
    top: 300px;
}

/* Project explanation box */
  .project-explication {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
  }

  .project-explication-box {
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 60%; /* Du kannst die Breite nach Bedarf anpassen */
  }

  h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 15px;
  }

  h4 {
    color: #d4d4d4;
    font-size: 18px;
    margin-top: 10px;
  }

  p {
    color: #797979;
    font-size: 16px;
    line-height: 1.5;
  }

  .project-explication-text {
    margin-top: 10px;
  }

/* Project link box */
#js-project-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

.js-project-box {
    width: 650px;
    height: 350px;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    top: 400px;
    z-index: 1;
    overflow: hidden;
}

.js-project-box h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: -55px;
    margin-left: 10px;
    text-decoration: none;
}

.js-project-box p {
    color: #ffffff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.js-project-box button {
    width: 100px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    top: 140px;
    left: 10px;
    display: grid;
    margin-bottom: 14px;
}

.js-project-box img {
    width: 300px;
    height: 300px;
}

/* Project info box */
.features {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.features .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.features .container .box {
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    box-sizing: border-box;
}

.features .container .box h3 {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;
}

.features button {
    border-radius: 10px;
    border-style: hidden;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
}

