#projects {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

.project-box {
    width: 650px;
    height: 350px;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    top: 400px;
    z-index: 1;
    overflow: hidden;
}

.project-box h3 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.project-box p {
    color: #ffffff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.project-box img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top: -30px;
    left: 25%;
    text-align: right;
}
