
/* General styling for the body */
body {
    background-color: #000000;
    color: #fff;
    font-family: 'SF Compact Display', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

/* Styling for h1 tags */
h1 {
    font-size: 100px;
}

header {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

/* Styling for the emoji */
/* Comment added: Styling for the emoji */
#emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the image in the emoji section */
#emoji img {
    max-width: 40%;
    max-height: 40%;
    position: relative;
    top: -23%;
}

/* Intro text styling */
#intro {
    margin: -200px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

/* Status box in the intro */
#status-box {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

/* Styling for p tags in the intro */
#intro p {
    font-size: 32px;
    color: #4b4b4b;
    margin: 10px 0;
}

/* Additional styling for h1 tag */
#intro h1 {
    font-size: 80px;
    color: #fff;
    margin: 10px 0;
}

/* Responsive styling */
@media screen and (max-width: 1024px) {
    #intro {
        text-align: center;
    }

    #status-box {
        margin-top: 10px;
    }

    #intro p {
        font-size: 28px;
    }

    #intro h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    #intro p {
        font-size: 24px;
    }

    #intro h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    #intro p {
        font-size: 20px;
    }

    #intro h1 {
        font-size: 28px;
    }
}

/* Project box styling */
/* Comment added: Project box styling */
#projects {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

/* Styling for the project box */
.project-box {
    width: 650px;
    height: 350px;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    top: 550px;
    z-index: 1;
    overflow: hidden;
}

/* Styling for h3 tags in the project box */
.project-box h3 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Styling for p tags in the project box */
.project-box p {
    color: #ffffff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Styling for images in the project box */
.project-box img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top: -10px;
    left: 25%;
    text-align: right;
}

/* Styling for the skill bar box */
.skills-container {
    margin: 20px;
    margin-top: 2200px;
    margin-right: 400px;
    margin-left: 400px;
}

/* Styling for skill categories */
.category {
    margin: 20px 0;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
}

/* Styling for h2 tags in skill categories */
.category h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #ffffff;
}

/* Styling for skills */
.skill {
    text-align: left;
    margin: 10px 0;
}

/* Styling for skill names */
.skill-name {
    font-weight: bold;
}

/* Styling for skill bars */
.skill-bar {
    background-color: #ddd;
    height: 30px;
    border-radius: 55px;
    margin-top: 5px;
}

/* Styling for skill progress */
.skill-progress {
    background-color: #000000;
    height: 100%;
    border-radius: 50px;
}

/* Files download box styling */
.files-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 500px;
    margin-left: 150px;
    margin-right: 150px;
}

/* Styling for the files download box */
.files-download-box {
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    background-color: #1e1e1e;
    margin: 20px;
}

/* Styling for the download button */
.download-button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1500px) {
    /* Adjust styles for smaller screens */
    .category h2 {
        font-size: 24px;
    }
    
    .skills-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .skill-bar {
        height: 20px;
        border-radius: 10px;
    }

    .files-download-box {
        width: 100%;
        max-width: none;
    }

    .files-box {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Footer styling */
/* Comment added: Footer styling */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 500px;
}

/* Styling for the social box in the footer */
.social-box {
    display: flex;
}
