@import url('/assets/fonts/SFCompactDisplay/font.css');

/* General styling for the body */
body {
    background-color: #000000;
    color: #fff;
    font-family: 'SF Compact', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

/* Styling for h1 tags */
h1 {
    font-size: 100px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(18, 18, 18, 0.72);
    backdrop-filter: saturate(180%) blur(10px);
    border-bottom: 1px solid grey;
}

header #header-container {
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    margin-right: 25px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

/* Styling for the emoji */
#emoji {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
}

/* Intro text styling */
#intro {
    margin-top: 400px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: left;
}

/* Status box in the intro */
#status-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;

        color: #fff;
        background: linear-gradient(180deg, #00931b 0%, #00731f 100%);
         background-origin: border-box;
        box-shadow: 0px 0.5px 1.5px rgba(255, 255, 255, 0.25), inset 0px 1.4px 0px -0.25px rgba(255, 255, 255, 0.2);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .button-10:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
}

/* Styling for p tags in the intro */
#intro p {
    font-size: 32px;
    color: #4b4b4b;
    margin: 10px 0;
}

/* Additional styling for h1 tag */
#intro h1 {
    font-size: 80px;
    color: #fff;
    margin: 10px 0;
}
/*responsive code for intro*/
@media screen and (max-width: 1000px) {
    #intro p {
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -300px;
        margin-right: -300px;
    }

    #intro h1 {
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -300px;
        margin-right: -300px;
    }

    #status-box {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100px;
        margin-right: -100px;
    }
}

/* Project box styling */
/* Comment added: Project box styling */
#projects {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

/* Styling for the project box */
.project-box {
    width: 650px;
    height: 350px;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    top: 550px;
    z-index: 1;
    overflow: hidden;

}

/* Styling for h3 tags in the project box */
.project-box h3 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Styling for p tags in the project box */
.project-box p {
    color: #ffffff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Styling for images in the project box */
.project-box img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top: -10px;
    left: 25%;
    text-align: right;
}

/* Styling for the skill bar box */
.skills-container {
    margin: 20px;
    margin-top: 2700px;
    margin-right: 400px;
    margin-left: 400px;
}

/* Styling for skill categories */
.category {
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
}

/* Styling for h2 tags in skill categories */
.category h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #ffffff;
}

/* Styling for skills */
.skill {
    text-align: left;
    margin: 10px 0;
}

/* Styling for skill names */
.skill-name {
    font-weight: bold;
}

/* Styling for skill bars */
.skill-bar {
    background-color: #ddd;
    height: 30px;
    border-radius: 55px;
    margin-top: 5px;
}

/* Styling for skill progress */
.skill-progress {
    background-color: #000000;
    height: 100%;
    border-radius: 50px;
}

/* Files download box styling */
.files-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 500px;
    margin-left: 150px;
    margin-right: 150px;
}

/* Styling for the files download box */
.files-download-box {
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white */
    margin: 20px;
}

/* Styling for the download button */
.download-button {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 10px;
        border: none;

        color: #fff;
        background: linear-gradient(180deg, #acacac 0%, #969696 100%);
         background-origin: border-box;
        box-shadow: 0px 0.5px 1.5px rgba(0, 0, 0, 0.25), inset 0px 1.5px 0px -0.25px rgba(255, 255, 255, 0.2);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .button-10:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1500px) {

    /* Adjust styles for smaller screens */
    .category h2 {
        font-size: 24px;
    }

    .skills-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .skill-bar {
        height: 20px;
        border-radius: 10px;
    }

    .files-download-box {
        width: 100%;
        max-width: none;
    }

    .files-box {
        margin-left: 20px;
        margin-right: 20px;
    }
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 30px 50px;
    width: 150%;
    margin-top: 500px;
}