body {
    background-color: #000000;
    color: #fff;
    font-family: 'SF Compact Display', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

h1 {
    font-size: 100px;
}

/* Stil für den Header */
header {
    width: 100%;
    height: 50px;
    padding: 0 10px;
}

#name {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.social-media-link {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* Stil für das Emoji Bild */
#emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#emoji img {
    max-width: 40%;
    max-height: 40%;
    position: relative;
    top: -23%;
}

/* Stil für das Intro */
#intro {
    margin: -250px 190px 0 190px;
}

#status-box {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin-top: 100px;
}

#intro p {
    font-size: 40px;
    color: #4b4b4b;
    margin: 10px 0 -50px 0;
}


/* Neuer CSS-Code für die zentrierten Projektboxen */
#projects {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

.project-box {
    width: 650px;
    height: 350px;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    top: 400px;
    z-index: 1;
    overflow: hidden;
}

.project-box h3 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.project-box p {
    color: #ffffff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 5000px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.project-box img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top: -30px;
    left: 25%;
    text-align: right;
}

/* CSS-Code für die skills-box */
.skills-container {
    position: relative;
    top: 2000px;
    margin: 0 230px;
}

.category {
    margin: 60px 0;
    position: relative;
    background-color: #1e1e1e;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.category h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #ffffff;
}

.skill {
    text-align: left;
    margin: 10px 0;
}

.skill-name {
    font-weight: bold;
}

.skill-bar {
    background-color: #ddd;
    height: 30px;
    border-radius: 55px;
    margin-top: 5px;
}

.skill-progress {
    background-color: #000000;
    height: 100%;
    border-radius: 50px;
}


/* CSS-code für die Files */
.files-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2300px;
    margin-left: 180px;
    margin-right: 180px;
}

.files-download-box {
    width: 30%;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    background-color: #1e1e1e;
    margin: 50px;
    box-sizing: border-box;
    padding: 25px;
}

.download-button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Footer Style*/
  footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .social-box {
    display: flex;
  }

