@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Black.woff2') format('woff2'),
        url('SFCompactRounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Bold.woff2') format('woff2'),
        url('SFCompactRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Heavy.woff2') format('woff2'),
        url('SFCompactRounded-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Light.woff2') format('woff2'),
        url('SFCompactRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Medium.woff2') format('woff2'),
        url('SFCompactRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Regular.woff2') format('woff2'),
        url('SFCompactRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Thin.woff2') format('woff2'),
        url('SFCompactRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Semibold.woff2') format('woff2'),
        url('SFCompactRounded-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Ultralight.woff2') format('woff2'),
        url('SFCompactRounded-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

